button,
input {
    padding: var(--size-xsmall);
    width: 200px;

    border: solid 1px;
    border-radius: var(--size-small);

    font-size: var(--size-xsmall);
    cursor: pointer;
}

input {
    cursor: text;
}

.primary-button,
.secondary-button {
    color: var(--light-color);
    background-color: transparent;
    border-color: var(--light-color);
    transition: 0.5s ease;
}

.dark-primary-button {
    color: var(--primary-color);
    background-color: var(--dark-color);
    transition: 0.5s ease;
    border-color: var(--dark-color);
}

.primary-button:hover {
    color: var(--dark-color);
    background-color: var(--primary-color);
    transition: 0.5s ease;
    border-color: var(--secondary-color);
}

.secondary-button:hover {
    color: var(--dark-color);
    background-color: var(--secondary-color);
    transition: 0.5s ease;
    border-color: var(--primary-color);
}

.dark-primary-button:hover {
    color: var(--dark-color);
    background-color: transparent;
    border-color: var(--dark-color);
    transition: 0.5s ease;
}