.tech {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    gap: var(--size-small);
    padding: var(--size-small) 0;

    overflow: hidden;
    transition: all 0.3s ease;
}

.round-pic {
    height: var(--size-medium);
    width: var(--size-medium);
    transition: transform 0.3s ease;
    border-radius: var(--size-xsmall);
}

.tech:hover * {
    transform: scale(1.1);
    transform: translateY(-8px);
    filter: drop-shadow(0 var(--size-small) var(--size-small) var(--light-color));
}