.clouds {
    position: absolute;
    width: 200%;
    height: 100%;
    z-index: -1;
}

.cloud {
    position: absolute;
    width: var(--size-medium);
    height: var(--size-medium);
    opacity: 0.5;

    background: url('../../assets/cloud.svg') no-repeat;
    background-size: contain;
}

.cloud1 {
    top: 2%;
    animation: moveCloud1 40s linear infinite;
}

.cloud2 {
    top: 12%;
    animation: moveCloud2 80s linear infinite;
}

.cloud3 {
    top: 22%;
    animation: moveCloud3 120s linear infinite;
}

.cloud4 {
    top: 32%;
    animation: moveCloud1 30s linear infinite;
}

.cloud5 {
    top: 42%;
    animation: moveCloud2 60s linear infinite;
}

.cloud6 {
    top: 52%;
    animation: moveCloud3 90s linear infinite;
}

.cloud7 {
    top: 62%;
    animation: moveCloud1 45s linear infinite;
}

.cloud8 {
    top: 72%;
    animation: moveCloud2 90s linear infinite;
}

.cloud9 {
    top: 82%;
    animation: moveCloud3 135s linear infinite;
}

.cloud10 {
    top: 92%;
    animation: moveCloud2 120s linear infinite;
}


@keyframes moveCloud1 {
    from {
        transform: translateX(-10vw);
    }

    to {
        transform: translateX(110vw);
    }
}

@keyframes moveCloud2 {
    from {
        transform: translateX(-60vw);
    }

    to {
        transform: translateX(180vw);
    }
}

@keyframes moveCloud3 {
    from {
        transform: translateX(-110vw);
    }

    to {
        transform: translateX(250vw);
    }
}