.connect, .contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    gap: var(--size-small);
    padding: var(--size-xsmall);
    margin-top: var(--size-xsmall);
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: var(--size-xsmall);
}

@media (max-width:827px) {
    .message{
        order: 1;
    }
}