.connect,
.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    gap: var(--size-small);
    padding: var(--size-xsmall);
    margin-top: var(--size-xsmall);
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: var(--size-xxlarge);
    height: var(--size-xlarge);
    gap: var(--size-xsmall);
}