.dp {
    transform: scale(1.1);
    border-radius: var(--size-small);
}

.about-pic,
.contact-pic {
    height: calc(2*var(--size-large));
    width: calc(2*var(--size-large));
}

@media (max-width:768px) {
    .connect {
        flex-direction: column;
    }

    .message {
        order: 1;
    }
}

@media (min-width:769px) and (max-width:1023.5px) {

    .message,
    .flip {
        order: 1;
    }
}