.dp{
    height: calc(var(--size-large) + var(--size-medium));
    width: calc(var(--size-large) + var(--size-medium));
    transform: scale(1.1);
}

.about-pic, .contact-pic {
    height: calc(var(--size-large) + var(--size-medium));
    width: calc(var(--size-large) + var(--size-medium));
}