.navbar {
    margin-bottom: var(--size-medium);
    transition: margin-bottom 1s ease;
}

.navbar-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: var(--size-small);
}