/* HERO */
.hero {
    z-index: 1;
    min-height: max(50dvh, auto);
    transition: background-color 1s ease;
}

.hero p {
    margin-top: 0;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--size-large) 0;
}