/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100dvh;
  line-height: 1;
  text-align: center;
  transition: background-color 1s ease;

  display: flex;
  flex-direction: column;
}

/* || SCROLL BAR */
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #888;
}

/* || ELEMENT SIZES */
img {
  display: block;
}

h1 {
  font-size: clamp(var(--size-xlarge), 60vw, var(--size-xxlarge));
}

h2 {
  font-size: clamp(var(--size-small), 10vw, var(--size-medium));
}

h3 {
  font-size: clamp(var(--size-xsmall), 5vw, var(--size-small));
  text-align: center;
  margin: var(--size-xsmall) 0;
}

p {
  font-size: var(--size-xsmall);
  margin: var(--size-xsmall);
}

/* || TEXT COLORS */
.extro-color {
  color: var(--primary-color);
}

.intro-color {
  color: var(--secondary-color);
}

/* || BACKGROUND COLORS WITH MATCHING TEXT COLORS*/
.dark-background {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.extro-background {
  color: var(--dark-color);
  background-color: var(--primary-color);
}

.intro-background {
  color: var(--dark-color);
  background-color: var(--secondary-color);
}

/* || FONTS */
.cursive-font {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.serif-font {
  font-family: "Elsie", serif;
  font-weight: 400;
  font-style: normal;
}

.serif-font-bold {
  font-family: "Elsie", serif;
  font-weight: 900;
  font-style: normal;
}