/* || VARIABLES */
:root {
    /* COLORS */
    --primary-color: #fde4be;
    --secondary-color: #a1e1e0;
    --dark-color: black;
    --light-color: white;

    /* SIZES */
    --size-xsmall: 1rem;
    --size-small: 2rem;
    --size-medium: 4rem;
    --size-large: 8rem;
    --size-xlarge: 16rem;
    --size-xxlarge: 24rem;
}