/* VARIABLES */
:root {
    /* COLORS */
    --primary-color: #fde4be;
    --secondary-color: #a1e1e0;
    --dark-color: black;
    --light-color: white;

    /* FONT SIZES */
    --font-size-small: 1rem;
    --font-size-medium: 2rem;
    --font-size-large: 4rem;
    --font-size-heading: 24rem;
}